<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Purvish_Profile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="PurvishVH" href="/images/logo1.png">

    <title>about</title>
</head>
<body style="background-color: #f09cb1;">
<div class="container" style="margin-top: 20px; background-size: cover; background-position: center;">
    <div class="container" style="margin-top: 20px;" id="projects">
       
        <hr style="color: #270539;">
        <div class="container" style="border: #FF0000;">
        <h2 id="about">
            Hey, I am Purvish VM, Glad to meet you!
        </h2>
        <div class="content-box">
            <p>
                I am a passionate and dedicated full-stack web developer and aspiring tech creator.
                With a strong foundation in HTML, CSS, JS, React, Angular, C#, JAVA, and more,
                I have honed my skills through real-world projects. My goal is to leverage my
                expertise to build innovative and user-friendly web applications that make
                a positive impact. I thrive in collaborative environments and enjoy staying
                up-to-date with the latest technologies and trends in the industry. Let's connect
                and bring ideas to life!
            </p>
            <p style="margin-top: 50px;">
                You can find more of my work and projects on <a href="https://github.com/prathuMPO" class="social-link">GitHub</a> and connect with me on <a href="https://www.linkedin.com/in/purvish-mangroliya-3720b9212" class="social-link">LinkedIn</a>.
            </p>
        </div>
    </div>

    <hr>
    <section class="interests-section">
        <div class="container" style="margin-top: 20px;">
            <h2 class="section-title" style="color: #FF0000; background-color: #FFFF00; text-align:center">Previous Works and Interests</h2>
            <div class="row">
                <!-- First Section - Internship -->
                <div class="col-md-6" style="background-color: #b736ad;">
                    <div class="card interest-card">
                        <img src="/images/sim.jpg" alt="Internship Image" class="card-image">
                        <div class="card-body">
                            <h3 class="card-title" style="color:rgb(57, 57, 225)">Internship: Software Verification Specialist</h3>
                            <hr>
                            <p class="card-description">I have completed an internship at Siemens Healthineer as a Software Verification Specialist. To get more information, you can visit my LinkedIn profile:</p>
                            <hr>
                            <a href="https://www.linkedin.com/in/purvish-mangroliya-3720b9212" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <!-- Second Section - Interests -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6" style="background-color: aqua;">
                            <div class="card interest-card">
                                <img src="/images/gigi.gif" alt="Language Image" class="card-image">
                                <div class="card-body">
                                    <h3 class="card-title" style="color:rgb(57, 57, 225)">Languages I Used</h3>
                                    <hr>
                                    <p class="card-description">
                                        <ul class="list-group">
                                            <li class="list-group-item">HTML-CSS-JS</li>
                                            <li class="list-group-item">JAVA</li>
                                            <li class="list-group-item">C++</li>
                                            <li class="list-group-item">C#-asp.net</li>
                                            <li class="list-group-item">DBMS-SQL</li>
                                        </ul>
                                    </p>
                                    <hr>
                                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="card-link">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="background-color: rgb(224, 55, 58);">
                            <div class="card interest-card">
                                <img src="/images/ide.gif" alt="IDE Image" class="card-image">
                                <div class="card-body">
                                    <h3 class="card-title" style="color:rgb(57, 57, 225)">IDEs</h3>
                                    <hr>
                                    <p class="card-description">
                                        <ul class="list-group">
                                            <li class="list-group-item">Intellij</li>
                                            <li class="list-group-item">VS CODE</li>
                                            <li class="list-group-item">SSMS</li>
                                            <li class="list-group-item">SQL-BENCHMARK</li>
                                            <li class="list-group-item">ATOM</li>
                                        </ul>
                                    </p>
                                    <hr>
                                    <a href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16" class="card-link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <div class="footer" style="background-color: rgba(0, 16, 11, 0.389);">
  <div class="text-center">
    <img src="/images/logo2.webp" alt="logo" style="display: block; margin: 0 auto;  width: 150px; height: 100px;">
  </div>
  <p style="margin-top: 20px; text-align: center;">
    You can find more of my work and projects on <a href="https://github.com/prathuMPO" class="social-link">GitHub</a> and connect with me on <a href="https://www.linkedin.com/in/purvish-mangroliya-3720b9212" class="social-link">LinkedIn</a>.
  </p>
  <div class="social_icons text-center">
    <a href=""><i class="fa fa-facebook" style="color: blue;"></i></a>
    <a href=""><i class="fa fa-instagram" style="color: purple;"></i></a>
    <a href=""><i class="fa fa-github" style="color: black;"></i></a>
    <a href=""><i class="fa fa-twitter" style="color: lightblue;"></i></a>
  </div>
  <p style="text-align: center;">&#169; 2023 Purvish V Mangroliya. Id: 200507923</p>
</div>

     
</div>
</body>
</html>




