<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purvish_Profile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/images/logo1.png">
    <style>
        .image-row {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .image-row img {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="container" id="index">

        <div class="heade_section text-center">
            <h1>I Am Fullstack Web Developer And New TECH Creator.</h1>
            <p>I am learning web development and have developed a lot of real-world projects using HTML, CSS, JS,
                React, Angular, C#, JAVA, and many more.</p>
        </div>
        <div class="image-row">
            <img src="/images/mid.jpg" alt="" style="width: 30%;" height="15%;">
            <img src="/images/mid2.jpg" alt="" style="width: 35%;" height="35%">
        </div>
        <div class="hero-section">
            <img src="/images/vid.gif" alt="" width="100%;" height="100%">
            <div class="bg-primary img text-center text-light">
            </div>
        </div>
    </div>
    <hr>
    <div class="footer" style="background-color: rgba(0, 16, 11, 0.389);">
        <div class="text-center">
            <img src="/images/logo2.webp" alt="logo" style="display: block; margin: 0 auto;  width: 150px; height: 100px;">
        </div>
        <p style="margin-top: 20px; text-align: center;">
            You can find more of my work and projects on <a href="https://github.com/prathuMPO" class="social-link">GitHub</a> and connect with me on <a href="https://www.linkedin.com/in/purvish-mangroliya-3720b9212" class="social-link">LinkedIn</a>.
        </p>
        <div class="social_icons text-center">
            <a href=""><i class="fa fa-facebook" style="color: blue;"></i></a>
            <a href=""><i class="fa fa-instagram" style="color: purple;"></i></a>
            <a href=""><i class="fa fa-github" style="color: black;"></i></a>
            <a href=""><i class="fa fa-twitter" style="color: lightblue;"></i></a>
        </div>
        <p style="text-align: center;">&#169; 2023 Purvish V Mangroliya. Id: 200507923</p>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
