<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Purvish_Projects</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="icon" type="image/x-icon" href="/images/logo1.png">

</head>

<body style="background-color: #16639a;">
    
    <div class="container" style="margin-top: 20px;" id="projects">
        
          <h2 class="section-title" style="color: #63099f; background-color: #cfd23b; padding: 10px; text-align:center">My Personal Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/images/MVC.png" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h4 class="card-title">Adornian-Digital Jewel Collection</h4><hr>
          <p>It is digital store with lot of creative features like payment, carts etc. You can visit to github:</p><hr>
          <h5 style="text-align: center;">Tech Stacks:</h5>
          <ul class="list-group"style="text-align: center;"  >
            <li class="list-group-item">C#-MVC</li>
            <li class="list-group-item">ASP.NET</li>
            <li class="list-group-item">VS CODE</li>
            <li class="list-group-item">STRIPE</li>
            <li class="list-group-item">Google AUTH</li>
          </ul>
          <a href="https://github.com/prathuMPO/Adornian" target="_blank" class="btn btn-primary" style="margin-top: 10px;" >GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/images/java.gif" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h4 class="card-title">Vehicle Dealership</h4><hr>
          <p>It is androis app cretaed using java and its core conecpts with interactive GUI. You ca visit to Github:</p><hr>
          <h5 style="text-align: center;">Tech Stacks:</h5>
          <ul class="list-group">
            <li class="list-group-item">JAVA</li>
            <li class="list-group-item">Adv.OOPs</li>
            <li class="list-group-item">Andoid Studio</li>
            <li class="list-group-item">Github</li>
            <li class="list-group-item">GUI</li>
          </ul>
          <a href="https://github.com/prathuMPO/comp1011Assignment3_200507923" target="_blank" class="btn btn-primary" style="margin-top: 10px;">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/images/gad.png" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h4 class="card-title">GeorgianEgg - Digital Laptop Store</h4><hr>
          <p>It is digital store to purchase laptop with incredible features like sign-in,payment,order etc. You can visit it to Github:</p><hr>
          <h5 style="text-align: center;">Tech Stacks:</h5>
          <ul class="list-group">
            <li class="list-group-item">C#(MVC)</li>
            <li class="list-group-item">ASP-NET</li>
            <li class="list-group-item">STRIPE</li>
            <li class="list-group-item">Carts</li>
          </ul>
          <a href="https://github.com/prathuMPO/comp2084-final" target="_blank" class="btn btn-primary" style="margin-top: 10px;">GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="background-color: #e3e571;">
    <img src="/images/logo2.webp" alt="logo">
    <p style="margin-top: 20px;">
      You can find more of my work and projects on <a href="https://github.com/prathuMPO"  class="social-link">GitHub</a> and connect with me on <a href="https://www.linkedin.com/in/purvish-mangroliya-3720b9212"  class="social-link">LinkedIn</a>.
                </p> 
    <div class="social_icons">
       <a href=""> <i class="fa fa-facebook"></i></a>
       <a href=""> <i class="fa fa-instagram"></i></a>
       <a href=""> <i class="fa fa-github"></i></a>
       <a href=""> <i class="fa fa-twitter"></i></a>

    </div>
    <p>&#169; 2023 Purvish V Mangroliya. Id:200507923
</p>
    
  </div>
     
    </div>
    <script src="js/bootstrap.min.js" ></script>
</body>
</html>